<html>

<title>Group 6</title>
<body>
<h3> Click below to go to the solutions of Problem Sets </h3>
<%= link_to 'Problem Set 1 Solutions', assignments_path %>
<br/>
<%= link_to 'Problem Set 2 Solutions', :controller => "basics", :action => "ps2_index" %>
<br/>
<%= link_to 'Problem Set 3 Solutions', :controller => "basics", :action => "ps3_index" %>
<br/>
<%= link_to 'Problem Set 4 Solutions', :controller => "basics", :action => "ps4_index" %>
<br/>
<%= link_to 'Problem Set 5 Solutions', :controller => "basics", :action => "ps5_index" %>
<br/>

<%= link_to 'Project', :controller => "menu", :action => "index" %>
<br/><br/>

<footer>

<a href="/pgdump.txt">DatabaseDumpFile</a>

<br />


<a href="http://vgl-ait.org/redmine/projects/web15-06/issues">Issue Tracker</a>

<br />

</footer>
</body>
</html>